


.arena
{
position: relative;
width: 100%;
height: 350px;
background-color: #4AF060;
margin-top: 100px;

}


.footer_next
{
/*position: absolute; */
width: 100%;
margin-top: 200px;
height: 100px;
bottom: 0;
background-color: #404445;
}

@media (min-width: 0px)
{
.footer-socialicons-list
{

	display: none ;
}
}

@media (min-width: 700px)
{
.footer-socialicons-list
{
    display: block;
	margin-right:  150px;
	float: right;
	list-style: none;
	margin-bottom: 0px;
}
}

ol.footer-socialicons-list > li > a 
{
    float:left;
    margin-top: 30px;
    margin-right: -5px;
    font-size: 31px;
    color: #363636;
    text-align: center;
}



ol.footer-socialicons-list > li
{
    height: 80px;
    float: left;
    text-align: center;
    padding-left: 10px;
}




ol.footer-socialicons-list > li:hover
{
   cursor: pointer;
}



.footer-socialicons-list >li>a:hover
{
  color: #fff !important;
  cursor: pointer;
}

.footer-socialicons-list >li>a:visited
{
	 color: #363636;
   text-decoration: none;
   cursor: pointer;
}

.footer-socialicons-list >li>a:focused
{
   color: #363636;
  text-decoration: none;
  cursor: pointer;
}