.background-picture
{
width: 100%;
height: 300px;
background-color: #3DCC4E;

}

@media (min-width: 0px)
{
.background-picture-A
{

width: 100%;
height: 600px;
background-image: url('5.jpg');
background-position: center !important;
background-size: cover!important;
}
}

@media (min-width: 1600px)
{
.background-picture-A
{
height: 700px;
}
}

@media (min-width: 0px)
{
.background-picture-B
{
width: 100%;
height: 600px;
background-image: url('2.JPG');
background-position: center !important;
background-size: cover!important;
}
}

@media (min-width: 1600px)
{
.background-picture-B
{
height: 700px;
}
}

@media (min-width:  0px)
{
.background-picture-C
{
width: 100%;
height: 600px;
background-image: url('3.jpg');
background-position: center !important;
background-size: cover!important;
}
}

@media (min-width:  1600px)
{
.background-picture-C
{
height: 700px;
}
}


.macro
{
margin-top: 50px;

}

.alfa
{
margin-top: -120px;
background-color: #fff;
padding-top: 30px;
padding-left: 30px;
padding-right: 30px;
}

.gallery-alfa
{
margin-top: -80px;
background-color: #fff;
}

.contact-alfa
{
margin-top: -80px;
background-color: #fff;
}

.title-Archivie
{
font-size: 31px;
margin-left: auto;
margin-right: auto;
text-align: center;
margin-bottom: 50px;
margin-top: 50px; 
}

.Opacity0
{
  opacity: 0 !important;
}

.ERROR-404
{
font-size: 41px;
text-align: center;
margin-top: 100px;

}