.entry-header
{
text-align: center;
}

.entry-content
{
margin-bottom: 100px !important;
}

@media (min-width: 500px)
{
.entry-img img {
    height: 600px !important;  /* Make sure images are scaled correctly. */
	width: 100%; /* Adhere to container width. */
}
}

@media (min-width: 1600px)
{
.entry-img img {
    height: 800px !important;  /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}
}
.margins-top-Alpha
{
margin-top: 100px;
margin-bottom: 100px;
}

.margins-top-Beta
{
margin-top: 90px;
}

.navbar-style
{
    border-top: 2px solid;
    border-bottom: 2px solid;
    text-align: center;
    padding: 10px 15px;
    letter-spacing: 4px;
    font-size: 18px;
}

.widget-Instagram
{
text-align: center;
}

